name: arclumos_kasa
description: ARCLUMOS Kasa - Offline kasa defteri (SQLite) + PDF/Excel/CSV export
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  intl: ^0.19.0
  sqflite: ^2.3.3+1
  path: ^1.9.0
  path_provider: ^2.1.4
  share_plus: ^10.0.2
  printing: ^5.13.4
  pdf: ^3.11.1
  excel: ^4.0.6
  http: ^1.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
